<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate of Insurance</title>
    <style>
        /*.container {*/
            /*width: 75%;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*margin-top: 100px;*/
            /*margin-bottom: 100px;*/
        /*}*/
        .greenHeader {
            color: #53b5ac;
        }
        .sectionheader {
            color: #2F5496;
        }
        .smallSectionHeader {
            color: #53b5ac;
        }

        /* Title Header */
        .title_header {
            display: inline-block;
            width: 100%;
        }
        .title_header h2 {
            float: left;
        }
        .title_header span {
            float: right;
        }

        ul {list-style: none}

        li::before {
            content: "•";
            font-size: 20px;
            color: #53b5ac;
            display: inline-block; width: 1em;
            margin-left: -1em;
        }

        /* Table 1 */
        .table_1 {
            width: 100%;
        }
        .no_header td:nth-child(1){
            width: 25%;
        }
        table {
            /*border: hidden;*/
            width: 100%;
            border-collapse: collapse;
        }
        th {
            background-color: #1d263a;
            height: 50px;
            color: white;
            text-align: left;
            padding-left: 10px;
            border: solid 1px #53b5ac;
        }
        td {
            border: solid 1px #53b5ac;
            padding: 10px;
        }
        .table_background {
            background-color: #1d263a;
            color: white;
        }
        .center {
            text-align:center;
        }

        /* Table 2 */
    </style>

</head>
<body>
<!-- Title Header -->
<div class="container">
    <div class="title_page">
        <img src="https://s3-eu-west-1.amazonaws.com/stable--prod/static/cover_assets/Lloyds_Cover.png" alt="">
    </div>
    <div style='page-break-before:always'></div>
    <div class="title_header">
        <h2 style="float:left">Stable Group Limited</h2>
        <span>LOGO</span></br>
        <span>3 Whitehall Court, Whitehall</span></br>
        <span>London, England SW1A 2EL</span>
    </div>

    <!--Table One -->
    <div class="table_1">
        <table>
            <th colspan="9">Certificate of Insurance</th>
            <tr>
                <td colspan="9">
                    <p>This Certificate of Insurance attaches to policy number {{ certificate_number }} (the Policy) which more fully sets out the terms and conditions of this insurance. This Certificate, its attaching Policy and Policy Schedule and any endorsements shall constitute the contract of insurance between the Policyholder and certain Underwriters at Lloyd’s under the Binding Authority Agreement specified below (the Insurers).</p>
                    <p>This Certificate is issued in accordance with the authorisation granted to Stable Group Limited as Coverholder by the Insurers. The Insurers have agreed to provide coverage under the Policy in consideration of the Premium specified below.
                        As the Policyholder, You must read this Certificate, and if any of the information is incorrect, return it immediately to the Coverholder for appropriate alteration. Failure to disclose any material fact can result in loss of cover.
                    </p>
                </td>
            </tr>
            <th colspan="9" class="table_background">

            </th>
            <tr colspan="9">
                <td colspan="3">{{ policy_holder_address_1 }}</td>
                <td colspan="3"><b>Certificate Number:</b></td>
                <td colspan="3">{{ certificate_number }}</td>
            </tr>
            <tr colspan="9">
                <td colspan="3">{{ policy_holder_address_2 }}</td>
                <td colspan="3"><b>Type:</b></td>
                <td colspan="3">Commerical</td>
            </tr>
            <tr colspan="9">
                <td colspan="3">{{ policy_holder_address_3 }}</td>
                <td colspan="3"><b>Sector:</b></td>
                <td colspan="3">Agriculture</td>
            </tr>
            <tr colspan="9">
                <td colspan="3">{{ policy_holder_address_4 }}</td>
                <td colspan="3"><b>Date:</b></td>
                <td colspan="3">{% now "jS F Y" %}</td>
            </tr>
            <th colspan="9"></th>
            <tr>
                <td colspan="1">Description:</td>
                <td colspan="8">Provides insurance cover for the Policyholder’s exposure to financial loss to its farming business as a result of price volatility in the Products (see below) produced by the Policyholder </td>
            </tr>
            <tr>
                <td colspan="1">Policyholder:</td>
                <td colspan="8">{{ policy_holder_name }} in respect of {{ farm_name }} (referred to in this Certificate as the <b>Policyholder, You</b> and/or <b>Your</b>)</td>
            </tr>
            <tr>
                <td colspan="1">Coverholder:</td>
                <td colspan="8">Stable Group Limited acting as agent for the Insurers in accordance with Binding Authority Agreement specified below (referred to in this Certificate as <b>Stable, We</b> and/or <b>Us</b>)</td>
            </tr>
            <tr>
                <td colspan="1">Insurers:</td>
                <td colspan="8">Certain Underwriters at Lloyd’s for 100% of the insured risk covered under the Policy</td>
            </tr>
            <tr>
                <td colspan="1">Broker:</td>
                <td colspan="8">N/A</td>
            </tr>
            <tr>
                <td colspan="1">Period:</td>
                <td colspan="8">From 00.01 hours {{ start_date|date:"jS F Y" }} (the <b>Start Date</b>) to 23.59 hours {{ end_date|date:"jS F Y" }} (the <b>End Date</b>) [GMT] [BST]</td>
            </tr>
            <tr>
                <td colspan="1">Territory:</td>
                <td colspan="8">UK</td>
            </tr>
            <th colspan="9"></th>
            <tr>
                <td class="table_background" rowspan="2">Products, Quantity and Sums Insured </td>
                <td>{{ commodity }}</td>
                <td>{{ quantity }}</td>
                <td><b>Inurance Start Price:</b></td>
                <td>GBP {{ start_price }}</td>
                <td><b>Insurance Stop Price:</b></td>
                <td>GBP {{ stop_price }}</td>
                <td><b>Index:</b></td>
                <td>{{ index_name }}</td>
            </tr>
            <tr>
                <td colspan="6"><b>Sum insured (i.e., maximum payment to replace your lost income)</b></td>
                <td colspan="2">GBP {{ potential_loss }}</td>
            </tr>
            <tr>
                <td class="table_background" >Excess</td>
                <td colspan="8">None</td>
            </tr>
            <tr>
                <td class="table_background">Fundamental Conditions to the Risk</td>
                <td colspan="8">
                    Our liability to You under the Policy is conditional on:
                    <ul>
                        <li>You providing us with all information We may request regarding the fulfilment of these conditions if a loss payment is triggered under the Policy and before we pay that loss payment to You</li>
                        <li>You paying the full amount of the Premium in accordance with your scheduled payment terms</li>
                        <li>You having (or having a reasonable prospect of acquiring) an interest in the subject matter of the insurance provided under the Policy. This means that, by entering into the Policy, You stand to suffer a financial loss or Your business will be adversely impacted in a manner which will cause You financial loss if You are not able to obtain an expected price for the insured Products You produce</li>
                        <li>You being a farmer who is carrying on a legitimate farming business or having a legal and/or beneficial interest in such a farming business. You must be purchasing the cover provided under the Policy to protect a trading business operated by or on behalf of You; and You must not be entering into the Policy for speculative or investment purposes</li>
                        <li>You or Your representatives carrying on Your relevant farming business in the ordinary course at the Start Date and continuing to carry on such business in substantially the same form at the time any loss payment is due</li>
                        <li>the above Product quantities insured being based on a realistic prospect of expected production</li>
                    </ul>
                    <b>If you do not comply with any of the above conditions (which are fundamental to the risk insured) or supply Us with fraudulent information, We are not liable to pay a loss payment to You.</b>
                </td>
            </tr>
            <tr>
                <td class="table_background">Exclusions</td>
                <td colspan="8">We will not pay for any claim arising from:
                    <ul>
                        <li>
                            any physical damage to the insured Product by any cause or business interruption
                        </li>
                        <li>
                            any business outside of the Territory
                        </li>
                        <li>
                            any change in the value of the insured Product caused deliberately by You
                        </li>
                        <li>
                            any change to the price You may obtain or pay for Your insured Product
                        </li>
                        <li>
                            any fraudulent (including fraudulent misrepresentations), dishonest or criminal acts or omissions by You
                        </li>
                        <li>
                            any of the items listed under the headings “War and civil war”, “Sanctions”, “Seepage and/or pollution and/or contamination”, “Radioactive contamination”, “Radioactive contamination and explosive nuclear assemblies, “Biological and chemical materials”, “Electronic data” and “Electronic data recognition”
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="table_background" rowspan="3">Cost</td>
                <td colspan="2"><b>Premium:</b></td>
                <td colspan="2">GBP {{ premium }}</td>
                <td colspan="4" rowspan="3"><b>Cancelling returns only</b></td>
            </tr>
            <tr>
                <td colspan="2"><b>Insurance premium tax:</b></td>
                <td colspan="2">GBP {{ premium_with_tax }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Total amount due:</b></td>
                <td colspan="2">GBP {{ total_cost }}</td>
            </tr>
        </table>
    </div>

    <p><b>For and on behalf of certain underwriters at Lloyd’s per Binding Authority Agreement with Unique Market Reference {{ umr }}</b></p>

    <table class="no_header">
        <tr>
            <!-- This is a bad solution -->
            <td class="table_background">Date</td>
            <td colspan="8">{% now "jS F Y" %}</td>
        </tr>
    </table>

    <h1 class="greenHeader">Attaching to and forming part of Certificate No. {{ certificate_number }}</h1>

    <h3 class="sectionheader">Introduction and Coverholder Status</h3>

    <p>
        This is to certify that in accordance with the authorisation granted under the Binding Authority Agreement (the <b>Contract</b>) to Stable Group Limited (<b>Stable</b>) by the Insurers, whose proportions underwritten by them are set out in the Contract, which bears the seal of Lloyd's Policy Signing Office, and in consideration of the payment of the Premium specified herein, the Insurers are hereby bound, its executors and administrators, to insure in accordance with the terms and conditions contained in the Policy. Details of the proportions for which each Insurer is responsible are available on request by contacting Us, Stable or Market Services, Lloyd’s of London, One Lime Street, London EC3M 7HA.
    </p>
    <p>
        Stable acts as agent for the Insurers in performing its duties under the terms of the Contract. References in this Certificate to <b>Us</b> or <b>We</b> are to Stable and may include the Insurer where it exercises any rights under the Policy. This Certificate has been signed by Stable (acting in accordance with the authority granted to it under the Contract) on the date specified on the first page of this Certificate.
    </p>

    <h3 class="sectionheader">Fraudulent Claims</h3>
    <p>
        If You, as the Policyholder, makes any claim knowing the same to be false or fraudulent, as regards amount or otherwise, this Certificate and its attaching Policy and Policy Schedule and any endorsements shall become void and all claims hereunder shall be forfeited.
    </p>

    <h3 class="sectionheader">Warranties</h3>
    <p>
        You, as the Policyholder, must comply with any warranty contained within the Policy (whether express or implied). Failure to do so may discharge the Insurers from all liability, which also means We are not liable to pay any claim for a loss payment.
    </p>

    <h3 class="sectionheader">Fair Presentation of Risk</h3>
    <p>
        You are obtaining a non-consumer policy of insurance (i.e. one that is related to your business, trade or profession), which means you are required to make a fair presentation of the risk to Us. This means you must disclose every material circumstance which you know or ought to know relating to the risk to be insured. Failing that, you are required to give Us sufficient information to put the Insurers, as a prudent insurer, on notice that We need to make further enquiries in order to reveal material circumstances.
    </p>
    <p>
        A circumstance is material if it would influence the judgment of a prudent insurer in determining whether to provide insurance for the risk and, if so, on what terms. Disclosure must be reasonably clear and accessible to a prudent insurer and made in good faith. This duty of disclosure is the applicable duty under the laws of England and Wales and enshrined in the UK Insurance Act 2015 (as may be amended or replaced from time to time). We expect you will disclose risk information at least equal to the standard required under the laws of England and Wales.
    </p>
    <p>
        Failure to comply with the above disclosure requirements could mean that Your Policy is void, its terms are materially altered and/or that We are not liable to pay all or part of Your claim(s). If You are in any doubt as to Your obligations in this regard, You should ask Us or Your Broker for further guidance.
    </p>

    <h3 class="sectionheader">Several Liability</h3>
    <p>
        The subscribing Insurers’ obligations under contracts of insurance to which they subscribe are several and not joint and are limited solely to the extent of their individual subscriptions. The subscribing Insurers are not responsible for the subscription of any co-subscribing insurer who for any reason does not satisfy all or part of its obligations.
    </p>

    <h3 class="sectionheader">Law and Jurisdiction</h3>
    <p>
        As agreed when taking out the policy, this insurance shall be governed by the laws of England and Wales and is subject to the exclusive jurisdiction of the courts of England and Wales.
    </p>

    <h3 class="sectionheader">Claims for Loss Payments</h3>
    <p>
        Within two (2) business days of the publication of the relevant Index applicable at the End Date, We will send You an email confirming whether or not You are due a loss payment under Your Policy. If a loss payment is due, We will ask You to confirm that You are still carrying on Your business in relation to the insured Product and Your bank details in order for the loss payment to be processed.
    </p>
    <p>
        Further details of the claims process for loss payments (and timing for payment) are set out in Your Policy under the section entitled Claims.
    </p>

    <h3 class="sectionheader">Cancellation rights</h3>
    <p>
        As explained in Your Policy, You have a statutory right to cancel Your Policy within fourteen (14) days from the date of taking out Your Policy or the date on which You receive Your Policy and Your policy Schedule, whichever is later. This is known as a cooling-off period.
    </p>
    <p>
        If you decide to cancel Your Policy, you can log into the Stable platform, https://dash.stableprice.com, and opt to cancel a live policy in the Quotes and Policies table; otherwise, please call us on 0203 859 9386. This needs to be done within the fourteen (14) day cooling-off period; otherwise, we will keep the Premium. No cancellation or administration fee will apply and We will only charge You for the time on cover unless You have made a claim for a loss payment, in which case we will keep the full Premium.
    </p>

    <h3 class="sectionheader">Data Protection Short Form Information Notice</h3>
    <h4 class="greenHeader">Your personal information notice</h4>

    <h4 class="greenHeader">The basics</h4>
    <p>
        In accordance with Our status as agent of the Insurers, We collect and use relevant information about You to provide You with the insurance cover under Your Policy, to provide the insurance cover under Your Policy that benefits You and/or to meet our legal obligations.
    </p>
    <p>
        This information includes details such as Your name, address and contact details and any other information that we collect about You (<b>Personal Information</b>) in connection with the insurance cover from which You benefit. This information may include more sensitive details such as information about Your health and any criminal convictions You may have.
    </p>
    <p>
        In limited circumstances, We may need Your consent to process certain categories of information about You. Where We need Your consent, We will ask You for it separately. You do not have to give Your consent and You may withdraw Your consent at any time by providing Us with a written request. However, if You do not give Your consent, or You withdraw Your consent, this may affect Our ability to provide the insurance cover from which You benefit and may prevent Us from providing cover for You or handling Your claims.
    </p>
    <p>
        In the course of insurance business, We may need to share Your Personal Information with certain third parties (including but not limited to insurers, agents, brokers, reinsurers, loss adjustors, auditors, and other service providers). Depending on the circumstances, we may transfer Your Personal Information abroad to countries outside the UK and the European Economic Area whose information protection laws are less strict than in the UK. If so, we will ensure that appropriate safeguards are put in place. We are also under legal and regulatory obligations to share personal data for law enforcement and regulatory compliance reasons.  We will only disclose Your Personal Information in connection with the insurance that We provide and to the extent required or permitted by law or regulation.
    </p>

    <h4 class="greenHeader">Other people's details you provide to Us</h4>
    <p>
        Where You provide Us or Your Broker with details about other people, You must provide this notice to them.
    </p>

    <h4 class="greenHeader">Want more details?</h4>
    <p>
        Further details about how We use the Personal Information You supply to Us is contained in the Policy. A copy of Our full privacy policy (which sets out more detailed information about Our use of Your Personal Information) is available on our website at www.stableprice.com or on written request.
    </p>

    <h4 class="greenHeader">Contacting Us and Your rights</h4>
    <p>
        You have rights in relation to the information We hold about You, including the right to access Your Personal Information. If You wish to exercise Your rights, discuss how We use Your data or request a copy of Our full privacy notice, please contact Us at:
    </p>

    <table class="no_header">
        <tr>
            <td class="table_background">Phone Number:</td>
            <td>0203 859 9390</td>
        </tr>
        <tr>
            <td class="table_background">Email Address:</td>
            <td>support@stableprice.com</td>
        </tr>
        <tr>
            <td class="table_background">Physical and Postal Address:</td>
            <td>Stable Group Limited</br>3 Whitehall Court</br>Whitehall Court</br>London</br>SW1A 2EL</td>
        </tr>
        <tr>
            <td class="table_background">Website:</td>
            <td>https://www.stableprice.com</td>
        </tr>
    </table>

    <h5 class="smallSectionHeader">Complaints</h5>
    <p>
        As noted in Your Policy, if you have any questions or concerns about Your Policy or the handling of a claim for a loss payment, You should, in the first instance, contact Us without delay using the contact details set out in this Certificate and the Policy. In the event that you remain dissatisfied and wish to make a complaint, You can do so at any time by referring the matter to the Complaints team at Lloyd's. Their address and contact details are:
    </p>

    <table class="no_header">
        <tr>
            <td class="table_background">Phone Number:</td>
            <td>020 7327 5693</td>
        </tr>
        <tr>
            <td class="table_background">Fax Number:</td>
            <td>020 7327 5225</td>
        </tr>
        <tr>
            <td class="table_background">Email Address:</td>
            <td>complaints@lloyds.com</td>
        </tr>
        <tr>
            <td class="table_background">Physical and Postal Address:</td>
            <td>
                Complaints</br>
                Lloyd's</br>
                One Lime Street</br>
                London EC3M 7HA</br>
            </td>
        </tr>
        <tr>
            <td class="table_background">Website:</td>
            <td>Further details on complaints to Lloyd’s are available at: www.lloyds.com/complaints. </td>
        </tr>
    </table>

    <p>
        Details of Lloyd's complaints procedures are set out in a leaflet "Your Complaint – How We Can Help" available at: www.lloyds.com/complaints and are also available from the above address for Lloyd’s
    </p>
    <p>
        If You remain dissatisfied after Lloyd's has considered Your complaint, You may have the right to refer Your complaint to the Financial Ombudsman Service <b>(FOS)</b>.
    </p>
    <p>
        The contact details for the FOS are: The Financial Ombudsman Service, Exchange Tower, London E14 9SR.  Telephone  0800 023 4567 (calls to this number are free from “fixed lines” in the UK) or 0300 123 9123 (calls to this number are charged at the same rate as 01 and 02 numbers on mobile phone tariffs in the UK). Email complaint.info@financial-ombudsman.org.uk.
    </p>
    <p>
        The FOS is an independent service in the UK for settling disputes between policyholders like You and businesses like Us providing financial services. You can find more information on the FOS at www. financial-ombudsman.org.uk. Further details about this process and the contact details for FOS are set out in Your Policy.
    </p>
    <p>
        If You purchased Your Policy online, You may be able to make a complaint via the EU’s online dispute resolution (ODR) platform. Further details about this process are set out in Your Policy.
    </p>
    <p>
        Please examine the terms and conditions in the Policy and as shown on this Certificate and check that the insurance coverage is in accordance with Your instructions. If any change is required or if the coverage is not acceptable to You, please contact Us immediately.
    </p>
    <div style='page-break-before:always'></div>
    <div class="footer_page">
        <img src="https://s3-eu-west-1.amazonaws.com/stable--prod/static/cover_assets/Lloyds_Footer.png" alt="">
    </div>

</div>
</body>
</html>