<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--[if !mso]><!-->
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic|Montserrat:400,700,400italic);
    </style>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic|Montserrat:400,700,400italic" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:title" content="Payment Receipt" />
</head>

<body class="ff-spacing full-padding" style="margin: 0;padding: 0;min-width: 100%;background-color: #fefefe;">
    <table class="spacer" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;width: 100%;height: 54px;">
        <tbody>
            <tr>
                <td style="padding: 0; vertical-align: top;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table class="preheader centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;">
        <tbody>
            <tr>
                <td style="padding: 0;vertical-align: top;">
                    <table style="border-collapse: collapse;border-spacing: 0;width: 560px;">
                        <tbody>
                            <tr>
                                <td class="title" style="padding: 0;vertical-align: top;font-family: Montserrat,DejaVu Sans,Verdana,sans-serif;color: #888;padding-bottom: 12px;font-size: 12px;line-height: 21px;text-align: left;">
                                    <div>Stable Insurance Payment Receipt</div>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="header centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 560px;color: #888;" id="emb-email-header-container">
        <tbody>
            <tr>
                <td class="logo emb-logo-padding-box" style="padding: 0;vertical-align: top;mso-line-height-rule: at-least;font-size: 24px;padding-top: 5px;padding-bottom: 10px;">
                    <div class="logo-center" style="" align="center" id="emb-email-header">
                        <a href="https://stableprice.com">
                            <img style="Margin-left: auto; Margin-right: auto; max-width: 250px;" src="http://s3-eu-west-1.amazonaws.com/stable--dev/media/images/Widget/Logo.png" alt="" />
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="one-col centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width:600px; table-layout: fixed;" emb-background-style>
        <tbody>
            <tr>
                <td class="column" style="padding: 0;vertical-align: top;text-align: left;">
                    <div>
                        <div class="column-top" style="font-size: 20px;line-height: 20px;transition-timing-function: cubic-bezier(0, 0, 0.2, 1);transition-duration: 150ms;transition-property: all;">&nbsp;</div>
                    </div>
                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Payment Date: <b>{{ quote_date  }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Your Name: <b>{{ full_name }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Business Name: <b>{{ business_name }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Postcode: <b>{{ post_code }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Insurance Policy Number: <b>{{ policy_number }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Payment Method: <b>Credit Card</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Premium Paid: <b>&pound; {{ premium }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Insurance Premium Tax: <b>&pound; {{ tax }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                        <tbody>
                            <tr>
                                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word;">
                                    <p class="size-15" style="font-style: normal;font-weight: 400;margin-bottom: 15px;Margin-top: 0;font-size: 15px;line-height: 23px;font-family: Merriweather,Georgia,serif;color: #353638;">
                                        Total amount received: <b>&pound; {{ total_cost }}</b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="column-bottom" style="line-height: 60px;">&nbsp;</div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="footer centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;">
        <tbody>
            <tr>
                <td style="padding: 0; vertical-align: top; text-align: center;">
                    <p class="size-12" style="font-style: normal; font-weight: 400; Margin-bottom: 20px; Margin-top: 0; font-size: 12px; line-height: 18px; font-family: Merriweather,Georgia,serif; color: #353638;">
                        If you have any questions about your payment, or require further assistance please contact our farmer support team via email farmers@stableprice.com or call free on 0800 123 3454
                    </p>
                    <p class="size-12" style="font-style: normal; font-weight: 400; Margin-bottom: 5px; Margin-top: 0; font-size: 12px; line-height: 18px; font-family: Merriweather,Georgia,serif; color: #353638;">
                        Stable is a trading name of AOX Capital Limited
                    </p>
                    <p class="size-12" style="font-style: normal; font-weight: 400; Margin-bottom: 0; Margin-top: 0; font-size: 12px; line-height: 18px; font-family: Merriweather,Georgia,serif; color: #353638;">
                        Registered Office: Lower Stoke Farm, Rodney Stoke, Cheddar, Somerset, BS27 3UF Company Number: 10289382 VAT Number: GB 251231351
                    </p>
                </td>
                <td style="padding: 0;vertical-align: top;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table class="spacer" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;width: 100%;height: 54px;">
        <tbody>
            <tr>
                <td style="padding: 0;vertical-align: top;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>

</html>