{% load templatetags %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Policy Schedule</title>
    <style>
        .title_header {
            display: inline-block;
            width: 100%;
        }

        .title_header img.mb-2 {
            width: 150px;
        }

        .title_header h2 {
            float: left;
        }

        .title_header span {
            float: right;
        }

        .table_background {
            background-color: #1d263a;
            color: white;
        }

        .policy_schedule_table {
            /*border: hidden;*/
            width: 100%;
            border-collapse: collapse;
            border-bottom: solid 1px #53b5ac;
        }

        .policy_schedule_table th {
            background-color: #1d263a;
            height: 50px;
            color: white;
            text-align: left;
            padding-left: 10px;
        }

        .policy_schedule_table td {
            padding: 10px;
        }

        .policy_schedule_table tr {
            border-bottom: solid 1px #53b5ac;
        }

        .policy_schedule_table tr td:nth-child(2) {
            border-left: solid 1px #53b5ac;
            width: 25%;
        }

        .policy_schedule_table tr td:nth-child(1) {
            width: 50%;
        }

    </style>
</head>

<body>

<div class="title_header">
    <span>
        <img class="mb-2" alt="" src="http://s3-eu-west-1.amazonaws.com/stable--dev/media/images/Widget/Logo.png"/><br>
        3 Whitehall Court, Whitehall<br>
        London, England SW1A 2EL
    </span>
    <h2 style="float:left">Stable Group Limited</h2>
</div>

<table class="policy_schedule_table">
    <tr>
        <th colspan="3" class="table_background">POLICY SCHEDULE</th>
    </tr>

    <tr class="table_background">
        <td>YOUR DETAILS</td>
        <td colspan="2">YOUR SELECTION</td>
    </tr>
    <tr>
        <td><b>Your Name:</b></td>
        <td colspan="2">{{ full_name }}</td>
    </tr>
    <tr>
        <td><b>Your Address:</b></td>
        <td colspan="2">{{ address }}</td>
    </tr>
    <tr>
        <td><b>Your Postcode:</b></td>
        <td colspan="2">{{ zip }}</td>
    </tr>
    <tr>
        <td><b>Your Farm Address (if different):</b></td>
        <td colspan="2">{{ farm_address }}</td>
    </tr>

    <tr class="table_background">
        <td colspan="3">Your Farm</td>
    </tr>
    <tr>
        <td><b>Farm Name:</b></td>
        <td colspan="2">{{ farm_name }}</td>
    </tr>
    <tr>
        <td><b>Farm Size (ha):</b></td>
        <td colspan="2">{{ farm_size }}</td>
    </tr>
    <tr>
        <td rowspan="{{ products.items|length|add:"1" }}"><b>Commodity & Amounts Farmed:</b></td>
        <td style="width: 25%"><b>Commodity</b></td>
        <td style="width: 25%; border-left: solid 1px #53b5ac;"><b>Amount</b></td>
    </tr>
    {% for key, product in products.items %}
        <tr>
            <td style="width: 25%">{{ key|title|replace_with_space:"_" }}</td>
            <td style="width: 25%">{{ product }}</td>
        </tr>
    {% endfor %}
    <tr class="table_background">
        <td>Policy Terms</td>
        <td colspan="2">Your Cover/Selection</td>
    </tr>
    <tr>
        <td><b>Premium (including IPT)</b></td>
        <td colspan="2">&pound; {{ premium_with_tax }}</td>
    </tr>
    <tr>
        <td><b>IPT</b></td>
        <td colspan="2">&pound; {{ ipt }}</td>
    </tr>
    <tr>
        <td><b>Policy Limit</b></td>
        <td colspan="2">&pound; {{ potential_loss }}</td>
    </tr>
    <tr>
        <td><b>Insured Product</b></td>
        <td colspan="2">{{ commodity }}</td>
    </tr>
    <tr>
        <td><b>Insurance Start Price selected by you</b></td>
        <td colspan="2">{{ start_price }} {{ unit_s }}</td>
    </tr>
    <tr>
        <td><b>Insurance Stop Price as agreed by you</b></td>
        <td colspan="2">{{ stop_price }}</td>
    </tr>
    <tr>
        <td><b>Index Price shown on the Stable website for pricing purposes as at the date your Policy was taken out</b>
        </td>
        <td colspan="2">{% if symbol != 'p' %}£ {% endif %}{{ index_price }}{% if symbol == 'p' %} p{% endif %} </td>
    </tr>
    <tr>
        <td><b>Index</b></td>
        <td colspan="2">{{ index_name }}</td>
    </tr>
    <tr>
        <td><b>Quantity Insured in units</b></td>
        <td colspan="2">{{ quantity|intcomma }} {{ unit }}</td>
    </tr>
    <tr>
        <td><b>Period of Cover</b></td>
        <td colspan="2">{{ protection_duration }}</td>
    </tr>
    <tr>
        <td><b>Start & End Dates (both days inclusive)</b></td>
        <td colspan="2">{{ start_date }} - {{ end_date }}</td>
    </tr>
    <tr>
        <td><b>Territory</b></td>
        <td colspan="2">UK</td>
    </tr>
    <tr>
        <td><b>Insurer(s)</b></td>
        <td colspan="2">Certain underwriters at Lloyd’s</td>
    </tr>
</table>

</body>
</html>
