{% extends 'admin/base_site.html' %}

{% load static %}

{% block title %}Stable API Administration{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="https://s3-eu-west-1.amazonaws.com/stable--dev/media/images/Widget/Logo.png" style="float: left; margin-top: 3px; width: 125px;"/>
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}